MONGO_ROOT_NAME=
MONGO_ROOT_PASS=
MONGO_URI=mongodb://user:pass@mongo:27017
MONGO_DB=secrets_registry
JWT_SECRET=
JWT_TTL_HOURS=24
SERVER_PORT=443
TLS_CERT=/etc/letsencrypt/live/shitcode-swamp.org/fullchain.pem
TLS_KEY=/etc/letsencrypt/live/shitcode-swamp.org/privkey.pem
